# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.next/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.tmp
.cache/
